body {
    display: flex;
    flex-direction: column;
    margin:20px
}
h3{
    color: #A40000
}
div {
    margin-top: 20px
}
table {
    border: 1px solid #A40000;
    color: #A40000;
    vertical-align: top;
  }
  td {
      border: 0.5px solid #A40000;
  }
  .delButton{
    justify-content: center;
    block-size: 25px;
    width: 5rem;
    background-color: #A40000;
    color: #ffffff;
    outline: 0;
    border-radius: 10px
  }
  .delButton:hover {
    background-color: maroon;
    color: darkgray 
  }
  .editButton{
    justify-content: center;
    block-size: 25px;
    width: 5rem;
    background-color: #A40000;
    color: #ffffff;
    outline: 0;
    border-radius: 10px
  }
  .editButton:hover {
    background-color: maroon;
    color: darkgray 
  }
  
