body {
    display: flex;
    flex-direction: column;
    align-items: center
}
h3 {
    color: #A40000
}
table {
  border: 1px solid #A40000;
  color: #A40000;
  vertical-align: top;
}
td {
    border: 0.5px solid #A40000;
}
.dipatchButton{
    justify-content: center;
    width: 8rem;
    block-size: 50px;
    margin-top: 2em;
    border-radius: 2rem; 
    background-color: #A40000 ;
    color: #ffffff;
    outline: 0; 
}
.dipatchButton:hover {
    background-color: maroon;
    color: darkgrey
}