.footerContainer {
    display: flex;
    justify-content: center;
}
.footerTitle {
    text-indent: -9999999px;
}
.footerStyles {
    display: flex;
    color: #C00001;
    font-style: italic;
    font-size: 12px
}