body {
    display: flex;
    flex-direction: column;
}
.branchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border:5px solid #A40000; 
    margin: 50px;
    background-color: lightgrey;
    border-radius: 30px   
}
h3{
    color: #A40000
}
.branchButton {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #A40000;
    color:#ffffff;
    text-decoration: none;
    font-size: 12px;
    outline: 0;
}
.branchButton:hover{
    text-decoration: none;
    background-color: maroon;
    color: darkgrey;
}
