body {
    display: flex;
    flex-direction: column;
}
.addProductDiv{
    display: flex;
    flex-direction: column;
    align-items: center
}
input {
    border-radius: 20px;
    block-size: 3em;
    width: 200px;
    text-align: center;
    outline: 0;
}
h3{
    color: #A40000
}
select {
    display: flex;
    block-size: 3em;
    width: 5rem;
}
.addButton {
    justify-content: center;
    width: 8rem;
    block-size: 50px;
    margin-top: 2em;
    border-radius: 2rem; 
    background-color: #A40000;
    color: #ffffff;
    outline: 0;    
}
.addButton:hover {
    background-color: maroon;
    color: darkgrey
}
