body {
    display: flex;
    flex-direction: column;
    /* align-items: center   */
}
h3{
    color: #A40000
}
.allProductsContainer {
    margin-top: 20px;
    margin: 10px
}
table {
    border: 1px solid #A40000;
    color: #A40000;
    vertical-align: top;
  }
  td {
      border: 0.5px solid #A40000;
  }
  .deleteButton {
    justify-content: center;
    block-size: 25px;
    width: 5rem;
    background-color: #A40000;
    color: #ffffff;
    outline: 0;
    border-radius: 10px
  }
  .deleteButton:hover {
      background-color: maroon;
      color: darkgray
  }