h1 {
    display: flex;
    background-color: #A40000;
    border: 2px solid lightgray;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-style: italic;
    padding: 10px
}
div {
    display: flex;
    flex-direction: column;
    align-items: center  
}
input {
    border-radius: 20px;
    block-size: 3em;
    width: 200px;
    text-align: center;
    outline: 0;
}
.loginButton {
    justify-content: center;
    width: 8rem;
    block-size: 50px;
    margin-top: 2em;
    border-radius: 2rem; 
    background-color: #A40000;
    color: #ffffff;
    outline: 0;    
}
.loginButton:hover {
    background-color: maroon;
    color: darkgrey
}
