
.header {
    display: flex;
    background-color: #A40000;
    border: 2px solid lightgray;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.headerStyles {
    display: flex; 
    position: absolute;
}
.logoStyles {
    justify-content: flex-start;
    align-items: center;
    text-indent: -9999999px;
    background: url('../images/classicLogo.jpg');
    width: 92px;
    height: 90px;
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 50px;
}
.headerTitle {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-style: italic;
    color: aliceblue
}
img {
    display: flex;
    height: 60px;
    margin-right: 30px;
}
.logoutButtonContainer {
    display: flex; 
    margin-left: 100px;
    align-items: center; 
}
.logoutButton:hover {
    background-color: maroon;
    color: darkgrey;
}
.logoutButton {
    background-color: #A40000;
    color: #ffffff;
    outline: 0px;
    border-radius: 10px;
    /* justify-content: center; */
    block-size: 25px;
    width: 5rem;

}