.dashBoardContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff
}
.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px ;
    border:5px solid #A40000; 
    margin: 50px;
    background-color: lightgrey;
    border-radius: 30px
}
.outletContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border:5px solid #A40000; 
    margin: 50px;
    background-color: lightgrey;
    border-radius: 30px     
}
.orderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border:5px solid #A40000; 
    margin: 50px;
    background-color: lightgrey;
    border-radius: 30px   
}
.dashboardContainerHeaders {
    display: flex;
    color: #A40000;
    font-style: italic;
    justify-content: center
}
.buttonContainer {
    padding-top: 10px
}
.dashboardButtons {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #A40000;
    color:#ffffff;
    text-decoration: none;
    font-size: 12px;
    outline: 0;
}
.dashboardButtons:hover{
    text-decoration: none;
    background-color: maroon;
    color: darkgrey
}
